[Unit]
Description=MyWebApp Service
Requires=mywebapp.socket
After=network.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ app_dir }}

EnvironmentFile={{ app_dir }}/.env
Environment=LISTEN_FDS=1
Environment=LISTEN_PID=$MAINPID
NonBlocking=true
StandardInput=socket

ExecStart=/usr/bin/node dist/src/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
