[Unit]
Description=MyWebApp Service
Requires=mywebapp.socket
After=network.target mariadb.service

[Service]
Type=simple
User=app
WorkingDirectory=/opt/mywebapp

EnvironmentFile=/opt/mywebapp/.env
Environment=LISTEN_FDS=1
Environment=LISTEN_PID=$MAINPID
NonBlocking=true
StandardInput=socket

ExecStart=/usr/bin/node dist/src/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target